{:paths ["src" "resources"]
 :deps {org.clojure/clojure            {:mvn/version "1.12.3"}
        org.clojure/tools.logging      {:mvn/version "1.3.0"}

        ;; OpenADR3 client library
        energy.grid-coordination/clj-oa3 {:local/root "../clj-oa3"}

        ;; mDNS discovery
        com.dcj/mdns                   {:local/root "../../../mdns"}
        systems.billo/inet-address     {:mvn/version "0.1.1"}

        ;; Time
        com.dcj.util/time              {:mvn/version "1.5.0-SNAPSHOT"}

        ;; Utilities
        medley/medley                  {:mvn/version "1.4.0"}

        ;; Logging
        org.slf4j/slf4j-log4j12       {:mvn/version "2.0.0-alpha6"}
        log4j/log4j                   {:mvn/version "1.2.17"
                                       :exclusions [javax.mail/mail
                                                    javax.jms/jms
                                                    com.sun.jdmk/jmxtools
                                                    com.sun.jmx/jmxri]}}

 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {babashka/process {:mvn/version "0.6.23"}
                              io.github.paintparty/fireworks {:mvn/version "0.12.6"}}}

           :nrepl {:extra-paths ["dev"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.6.0"}}
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7890"]}}}
